/* ------------- Base & Typography ------------- */

:root {
    /* full slider bar */--soft-cyan: hsl(174, 77%, 80%); 
    /* slider bg */ --strong-cyan: hsl(174, 86%, 45%);
    /* discount bg */ --light-grayish-red: hsl(14, 92%, 95%);
    /* discount text */ --light-red: hsl(15, 100%, 70%);
    /* cta text */ --pale-blue: hsl(226, 100%, 87%);

    /* pricing component bg */ --white: hsl(0, 0%, 100%);
    /* main background */ --very-pale-blue: hsl(230, 100%, 99%);
    /* empty slider bar */ --light-grayish-blue-slider: hsl(224, 65%, 95%);
    /* toggle bg */ --light-grayish-blue-bg: hsl(223, 50%, 87%);
    /* text */ --grayish-blue-text: hsl(225, 20%, 60%);
    /* text and cta bg */ --dark-blue-text-cta-bg: hsl(227, 35%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set 1rem to 10px */
html {
    font-size: 62.5%; 

    /* center the page for vw > max-width */
    max-width: 1440px;
    margin: 0 auto;
} 


/* mobile width 375px */
/* desktop width 1440px */
body {
    font-family: 'Manrope', sans-serif;
    color: var(--grayish-blue-text);
    /* height: 100%; */

}

main {
    background-color: var(--very-pale-blue);
    
    min-height: 100vh;
    width: 100%;
    
    position: relative;
    z-index: 1;
    
    font-size: 1.5rem;
    
    display: flex;
    flex-direction: column;    
    overflow: hidden;
}

.bg-accent {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    
    background-image: url('images/bg-pattern.svg');
    /* background-color: var(--light-grayish-blue-bg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    
    height: 50%;
    width: 100%;
}


/* ------------- hero ------------- */

.hero {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    z-index: 5;
    padding: 6rem 4rem 4rem 4rem;

    background-image: url('images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center center;

}

.hero__header {    
    display: flex;
    flex-direction: column;

    /* padding-top: 4rem; */
    /* padding-top: 6.5rem; */

    font-size: 2rem;
    text-align: center;
    color: var(--dark-blue-text-cta-bg);
}

.hero__text {
    color: var(--grayish-blue-text);
    font-size: 1.4rem;
    line-height: 2.5rem;

    text-align: center;  
    margin: 1rem 1rem;
    align-self: center;
    max-width: 20rem;
}


/* ------------- pricing component ------------- */

.card {
    position: relative;
    z-index: 10;

    min-width: 32rem;

    justify-self: center;
    align-self: center;
    
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    box-shadow: 0 0 3rem var(--light-grayish-blue-bg);
    border-radius: .5rem;
    padding: 3rem;
    margin: 3rem 5rem 5rem 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
 
.card--pageviews {
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: 1.2rem;
    font-weight: 800;
}

/* ====== custom range slider stylings ======  */


.card__range--box {
    display: flex;
    flex-direction: column;
    
    position: relative;
    width: 100%;

}

/* base input stylings for all browsers */
/* pseudo elements for the range input have to use the input type selector */
input[type=range] {
    -webkit-appearance: none;
    background: var(--light-grayish-blue-slider);
    border-radius: 10rem;
    height: .75rem;
    position: relative;
    margin: 3rem 0;
}

/* ------------- safari/chrome ------------- */
/* safari/chrome slider track */
input[type=range]::-webkit-slider-runnable-track { 
    -webkit-appearance: none;
    height: .75rem;
    width: 100%;
    position: relative;
}

/* safari/chrome slider thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    content: '';
    background-image: url('images/icon-slider.svg'), linear-gradient(to bottom, var(--strong-cyan), var(--strong-cyan));
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--strong-cyan);
    
    top: -2rem;
    width: 3rem;
    height: 3rem;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 0 1rem 2.5rem var(--strong-cyan);
}

/* safari/chrome slider thumb hover */
input[type=range]::-webkit-slider-thumb:hover {

    background-image: url('images/icon-slider.svg'), linear-gradient(to bottom, teal, teal);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: teal;
    cursor: grab;
}

/* safari/chrome thumb active */
input[type=range]::-webkit-slider-thumb:active {
    background-color: teal;
}
/* ----------------------------------- */


/* ------------- firefox ------------- */
/* firefox range track */
input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
}

input[type=range]::-moz-focus-outer {
    border: 0;
    outline: none;
}

/* firefox range thumb */
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    background-image: url('images/icon-slider.svg'), linear-gradient(to bottom, var(--strong-cyan), var(--strong-cyan));
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: 0 1rem 2.5rem var(--strong-cyan);
    transition: all ease 500ms;
}

/* firefox range thumb hover */
input[type=range]::-moz-range-thumb:hover {
    background-image: url('images/icon-slider.svg'), linear-gradient(to bottom, teal, teal);
    cursor: grab;
    transition: all ease 500ms;

}


/* firefox range progress; commented out b/c JS written to apply this styling*/ 
/* input[type=range]::-moz-range-progress {
    background-color: var(--soft-cyan);
} */

/* firefox keyboard accessibility */
input[type=range]:-moz-focusring {
    outline: 1px solid var(--soft-cyan);
    outline-offset: -1px;
}
/* ------------------------------------- */

/* ---------------- IE ----------------- */
/* IE thumb range progress */
input[type=range]::-ms-fill-lower {
    background-color: var(--strong-cyan);
}
/* --------------------------------------- */


.price__display {
    /* justify-self: center; */
    display: flex;
    align-items: center;

}

.price__display--amount {
    font-size: 3rem;
    font-weight: 800;
    color: var(--dark-blue-text-cta-bg);
    padding-right: .5rem;
}

/* ========== billing checkbox ============ */
.billing {
    position: relative;
    
    display: flex;
    flex-direction: row;

    right: .5rem; /** workaround to get switch centered */
    margin-top: 3rem;
}

.card::after {
    content: '';

    position: absolute;
    top: 24rem;
    left: 0;
    
    width: 100%;
    height: 1px;
    
    background-color: var(--light-grayish-blue-slider);
}

.billing__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
}


.billing__checkbox {
    display: none;
}

.billing__timing {
    position: relative;
}


/* discount pseudo element */
.billing__timing.yearly::after {
    content:'-25%';

    position: absolute;
    top: 0;
    right: -4rem;
    
    color: var(--light-red);
    background-color: var(--light-grayish-red);
    
    height: 1.5rem;
    width: 3.25rem;
    
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10rem;
    padding: .2rem 0 0 .25rem;
    text-align: center;
}


.switch {
    position: relative;
    z-index: 1000;
   
    height: 2rem;
    width: 4rem;
    margin: 0 1rem;
    border-radius: 5rem;
    
    background-color: var(--light-grayish-blue-bg);
   
    transition: all ease 300ms;

    cursor: pointer;

}

.switch::before {
    content: '';

    position: absolute;
    z-index: 100;
    top: .375rem;
    left: .375rem;
    
    height: 1.25rem;
    width: 1.25rem;
    
    border-radius: 50%;
    background-color: var(--white);
    
    transform: translateX(0);
    transition: all ease 300ms;
}

.switch:hover::before {
    background-color: var(--soft-cyan);
}

/* ---------- styling for hidden switch checkbox -------- */
.billing__checkbox:checked + .switch:hover::before {
    background-color: var(--white);
    transition: all ease 300ms;
}

.billing__checkbox:checked + .switch {
    background-color: var(--soft-cyan);
    transition: all ease 300ms;
}

.billing__checkbox:checked  + .switch::before {
    transform: translateX(2rem);
    transition: all ease 300ms;
}

.billing__checkbox:checked  + .switch:hover::before {
    background-color: var(--white);
    transition: all ease 300ms;
}

.billing__checkbox:checked + body {
    color: var(--strong-cyan);
}

/* text styling for checked billing */
.selected {
    color: var(--strong-cyan);
    transition: all ease 300ms;
}

/* discount pseudo element styling */
.discount {
    color: var(--light-red);
    background-color: var(--light-grayish-red);
    font-size: 1.5rem;
}

.features {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 4rem;
    height: 100%;
}

.features__list {
    margin: 2rem;

    list-style: none;
}

.features__list--item {
    position: relative;

    text-align: center;
    font-size: 1.2rem;
}

.features__list--item:not(:last-child) {
    margin-bottom: 1rem;
}

.features__list--item span {
    content: url(images/icon-check.svg);
    padding-right: 1rem;
}





/* ============= button =============== */

.btn {
    background-color: var(--dark-blue-text-cta-bg);
    padding: 1rem 3rem;
    border: none;
    border-radius: 3rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    justify-self: center;
    color: var(--pale-blue);
}

.btn:hover {
    color: var(--white);
    cursor: pointer;
}


/* ========== attribution footer =========== */

.footer {
    padding: 2rem 0;
    background-color: var(--very-pale-blue);
    margin-top: auto;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}



/* ======= media queies for screen width greater than 600px ========*/
@media screen and (min-width: 37.5em) {

    .hero {
        padding: 4.5rem;
    }

    .hero__header {
        font-size: 2.5rem;
    }
    
    .hero__text {
        max-width: 100%;
    }

    .card {
        min-width: 50rem;
        padding: 4rem 5rem;
    }

    .card::after {
        top: 22rem;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "views rate"
            "slider slider"
            "bill bill"
            "features features";
    }

    .card--pageviews {
        grid-area: views;
    }


    .price__display {
        grid-area: rate;
        justify-content: end;
    }

    .price__display--amount {
        font-size: 3.5rem;
    }

    .card__range--box {
        grid-area: slider;
    }

    .billing {
        grid-area: bill;
        justify-self: center;
        margin: 2rem 0;
    }

    .billing__timing.yearly::after {
        content:'-25% discount';
        right: -10rem;
        width: 8.5rem;
    }


    .features {
        grid-area: features;
        width: 100%;

        margin-top: 4rem;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    
    .features__list {
        margin: 0;
        list-style: none;
    }
    
    .features__list--item {
        position: relative;

        text-align: left;
        font-size: 1.2rem;
    }

    .btn {
        padding: 1.5rem 4rem;
    }

}
